body {
  background: #C6D4E1;
  font-family: 'Quicksand', sans-serif;
  margin: 0em;
  padding-left: 8em;
  padding-right: 8em;
  font-weight: 900;
}


section {
  margin: 0;
  padding: 0;
  background: red; /*REMOVE*/
}

#main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: orange; /*REMOVE*/
}

#main-menu li {
  float: left;
  background: blue; /*Hidden under li a background color on line 49*/
}

.nav-color: {
  opacity: .5
}

.nav-color:hover {
  background: #44749D;
  border-radius: .1em;
}

#main-menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #44749D;
  margin-left: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: all 0.3s ease-in-out;
  font-size: 1.25em;
  background: purple; /*REMOVE*/
}

#main-menu li a:hover {
  color: #FFFFFF;
}

.active {
  background-color: #8DB6CD;
  color: #44749D;
}

#main-content h1 {
  float: left;
  margin: 0;
  width: 100%;
  padding-top: 0.5em;
  text-align: left;
  color: #44749D;
  background: white; /*REMOVE*/
}

#main-content h3{
  clear: both;
  float: left;
  margin: 0;
  padding-bottom: 0.5em;
  width: 100%;
  text-align: left;
  color: #44749D;
  background: black; /*REMOVE*/
}

#main-content img {
  clear: both;
  float: left;
  margin: 0;
  padding-right: 0.5em;
  background: white; /*REMOVE*/
}

#fade {
  opacity: 0.75;
}

#fade:hover {
  opacity: 1;
}


.about-text {
  clear: both;
  display: inline;
  margin: 0;
  padding: 0;
  color: #44749D;
  background: green; /*REMOVE*/
}

aside {
  clear: both;
  float: left;
  padding-left: 3em;
  background: pink; /*REMOVE*/
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: yellow; /*REMOVE*/
}

aside li {
  float: left;
  margin: 0.5em;
  background: red; /*Hidden under li a background color on line 129*/
}

aside li a {
  display: block;
  float: left;
  color: #44749D;
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  background: white; /*REMOVE*/
}

aside li a:hover {
  color: #FFFFFF;
}

footer {
  clear: both;
  align-content: center;
  color: #44749D;
  background: white; /*REMOVE*/
}

footer a {
  color: #44749D;
  transition: 0.5s;
  background: green; /*REMOVE*/
}

footer a:hover {
  color: #FFFFFF;
}

