body {
  font-family: 'Quicksand', sans-serif;
  background-color: #75abe5;
}

nav {
  background-color: white; /*REMOVE*/
  font-size: 100%;
  width: 100%;
  overflow: hidden;
}
nav ul {
  list-style-type: none;
}

/*Fix Padding LH/RH*/
nav ul li {
  float: left;
  width: 20%;
}

nav li a {
  background-color: green; /*REMOVE*/
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: .25em;
  width: 100%;
}

/*Need To Center This!!!*/
img.logo {
  background-color: purple; /*REMOVE*/
  clear: both;
  padding: 0.5em;
  width: 100%;
  overflow: hidden;
}

nav li a:hover {
  background-color: #629fe0;
}

.active {
  background-color: #629fe0;
}

section {
  background-color: blue; /*REMOVE*/
  float: left;
}

aside {
  font-size: 100%;
  width: 100%;
  overflow: hidden;
}

aside ul {
  list-style-type: none;
}

aside ul li {
  float: left;
  width: 25%;
}

aside li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: .25em;
}

aside a {
  color: white;
  text-decoration: none;
}

aside li a:hover {
  background-color: #629fe0
}

.fa {
  clear: both;
  display: block;
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  float: left;
  color: white;
  width: 100%;
}

h1 {
  background-color: pink; /*REMOVE*/
  float: left;
  font-size: 2rem;
}

h3 {
  background-color: black;  /*REMOVE*/
  float: left;
  font-size: 1rem;
}

#intro {
  float: left;
  background-color: red; /*REMOVE*/
  padding-top: 0.5em;
  color: white;
  width: 100%;
}

img.me {
  background-color: white; /*REMOVE*/
  padding: 0.5em;
}

footer {
  padding: 0 0 0 0.5em;
}

