body {
  background-color: #75abe5;
  font-family: 'Quicksand', sans-serif;
  margin: 0em 3em 3em 3em;
  padding: 0em 3em 3em 3em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  padding: 0.5em 3em 0.5em 3em;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: .75em 1em;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}

.active {
  background-color: #8DB6CD;
  color: white;
}

.image-01 {
  float: left;
}

#main h1 {
  clear: both;
  float: left;
  margin: 0 0 0 0;
}
#main h3 {
  clear: both;
  float: left;
  margin: 0 0 0 0;
}

#main p {
  clear: both;
  float: left;
}

section {
  width: 100%
}

aside ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

aside li {
  float: left;
  margin: 0.5em;
}

aside li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: .75em 1em;
  text-decoration: none;
}

aside li a:hover {
  color: black;
}

footer {
  clear: both;
}

